<div class="over">
<div class="top-nav clearfix">
        <div class="logo">
         <!-- <img style="height: 22px;" src="../../../assets/images/Group 3.png" alt="logo">
         --> LOGO
      </div>
        <div class="upper-links">
          <ul>
            <li  routerLink="/dashboard"  routerLinkActive="active">
              <a> Dashboard</a>
            </li>
            <li  routerLink="/organization"  routerLinkActive="active">
              <a> Organizations</a>
            </li>
            <li  routerLink="/task"  routerLinkActive="active">
              <a> My Tasks</a>
            </li>
            <li  routerLink="/global"  routerLinkActive="active">
              <a> Global</a>
            </li>
            <li  routerLink="/account"  routerLinkActive="active">
              <a> Account</a>
            </li>
          </ul>
  </div>
  <div class="menu-option">
    <ul>
      <li (click)="Search()">
        <a><i class="fa fa-search" aria-hidden="true"></i></a>
      </li>
      <li class="logout" (click)="clock = !clock" >
        <a> <i class="fas fa-clock"></i></a>
        <div *ngIf="clock" class="menu clock">
          <ul>
            <li>Backup & Disaster Recovery</li>
            <li>S Farmer</li>
            <li>AssurityLabs</li>
            <li>Belkin Wifi</li>
            <li>Checklist name</li>
            <li>Belkin - Core Lab</li>
          </ul> 
        </div>
      </li>
      <li class="logout" (click)="menu = !menu" >
        <a><span>Baljit<i class="fas fa-sort-down ml-1"></i></span></a>
        <div *ngIf="menu" class="menu">
          <ul>
            <li>Knowledge Base</li>
            <li>Academy</li>
            <li>Suggest A Feature</li>
            <li>Edit Profile</li>
            <li>Vault</li>
            <li>Logout</li>
          </ul> 
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
</div>
